body{
    background-color: rgb(30,30,30);
    background-size: 100%;
    background-repeat: none !important;
    background-position: fixed;
    padding: 0px;
    margin: 0px;
}
.count{
    width: 99.8%;
}
.runas{
    margin-left: 25%;
    max-width: 50%;
    margin-right: -10px;
}
.resto{
    background: green;
}
.img{
    width: 64px;
}
#bt{
    margin-top: 50px;
    padding: 15px;
    width: 120px;
    background: rgb(30,35,40);  
    border-color: rgb(200,169,108);
    box-shadow: 1.5px 1.5px 1px black ;
    color: rgb(184, 171, 132);
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    margin-left: 25%;
    margin-bottom: 5px;
}
#bt:focus{
    outline: thin dotted;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
}    
#bt:active{
    box-shadow: 3px 3px 3px black inset;
}
.invisible{
    opacity: 0;
}
.Rescolha{
    margin-left: -20%;
    margin-top: 20%;
}
.h1{
    opacity: 0;
    text-transform: uppercase;
    font-size: 15pt;
    color: rgb(179, 167, 129);
}
#img9F{
    margin-bottom: -444.7px;
    opacity: 0;
}
#img10F{
    opacity: 0;
}
#img11F{
    margin-left: -550px;
    z-index: 2;
}
